
    body {
        opacity:0;
        transition: opacity 2s;
        -webkit-transition: opacity 2s;
        -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
        -o-transition: opacity 2s ease-in;
        background-image: url("2018-02-23 07.43.42-2.jpg");
    }
    header {
        width: 100%;
        text-align: center;
    }
    h1 {
        margin: auto;
    }
    img {
         width: 70%;
        height: 150px;
        border-radius: 50%;
    }
    p {
        display: inline-block;
        font-size: 30px;
        text-align: center;
    }
    i {
        background: white;
        padding: 30px;
        width: 100%;
        text-align: center;
        border: 30px solid black;
        color: black;
    }
    i:hover {
        opacity: .5;
        background: #E18A07;
    }
    
    h3 {
        opacity: 0;
        text-align: center;
    }
    
    a:hover + h3 {
    opacity: 1;
    }
    
    .col-sm-4 {
        margin: 30px 0;
    }